/* Global styles */
 body {
     background-color: #EEEEEE;
     border: 40px solid #EEEEEE;
     margin: 0;
     padding: 0 10px;
     font-family: "Liberation Sans", "Myriad", "Bitstream Vera Sans", "Lucida Grande", "Luxi Sans", "Trebuchet MS", helvetica, verdana, arial, sans-serif;
     line-height: 1.2em;
}
/* Container styles */
 body > div.book, body > div.article, body > div.set, body > div.preface, body > div.chapter, body > div.section, body > div.appendix, body > div.part, div.sect1 {
     margin-top: 0;
     padding: 2em;
     background-color: #FFFFFF;
     margin: 40px auto 4em;
     padding: 1px 40px 20px 30px;
}
/* Typography */
 h1, h2, h3, h4, h5, h6 {
     color: #C70036;
}
 h1 {
     line-height: 1.1em;
}
/* Links */
 a:link {
     color: #0035C7;
     text-decoration: none;
}
 a:visited {
     color: #00207A;
     text-decoration: none;
}
 a:hover {
     color: #00207A;
     text-decoration: underline;
}
/* Code and Preformatted Text */
 code {
     font-family: "Liberation Mono", "Bitstream Vera Mono", "DejaVu Mono", monospace;
     font-weight: bold;
     word-wrap: break-word;
}
 pre {
     background-color: #F5F5F5;
     border-radius: 0.5em;
     color: #000000;
     display: block;
     font-family: "Liberation Mono", "Bitstream Vera Mono", "DejaVu Mono", monospace;
     font-size: 0.9em;
     margin-bottom: 1em;
     padding: 0.5em;
     white-space: pre-wrap;
     word-wrap: break-word;
}
/* Tables */
 table {
     border-collapse: collapse;
}
 th, td {
     border: 1px solid black;
     padding: 0.2em 0.5em;
}
 th {
     background-color: #C70036;
}
 th:hover {
     color: white;
}
/* Lists */
 ul, ol {
     padding-left: 1.5em;
}
 li {
     margin-bottom: 0.5em;
}
/* Blockquote */
 blockquote {
     border-left: 4px solid #CCCCCC;
     padding-left: 1em;
     margin-left: 0;
     color: #666666;
}
/* Horizontal Rule */
 hr {
     border-top: 1px dotted #808080;
     margin: 0;
}
/* Navigation */
 .navheader a, .navfooter a {
     opacity: 0.50;
     transition: opacity 0.15s ease-in-out;
}
 .navheader a:hover, .navfooter a:hover {
     opacity: 1;
}
/* Info blocks */
 .important {
     border: 1px dashed red;
}
 .caution {
     border: 1px dashed #EFF500;
}
 .note {
     border: 1px dashed blue;
}
 .important, .caution, .note, .tip {
     margin-left: 1em;
     margin-right: 1em;
}
/* Reference blocks */
 .references {
     margin-top: 20px;
}
 .reference-list {
     list-style-type: none;
     padding-left: 0;
}
 .reference-list li::before {
     content: '[' counter(ref) '] ';
     counter-increment: ref;
     font-weight: bold;
}